# JNTUA FDP - DAY - 05

#### Date: 31 MAy 2019

#### Day Objectives:
* Tuples
* Dictionaries
* Linear and Binary Search
* Regular Expressions
* Date Arithmetic
* Iterators and Generators
* Functional Programming

### Python Tuples

In [1]:
t1 = (501,"arjun",83,74) # Creating a tuple

In [2]:
t1

(501, 'arjun', 83, 74)

In [3]:
t1 = () # creates an Empty Tuple

In [4]:
t1
t1.append(20) #Can not be modified

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
t1[1] #Accessing 2 elements

IndexError: tuple index out of range

In [6]:
t1

()

In [7]:
t1 = (502,'anne',94,78)

In [8]:
t1

(502, 'anne', 94, 78)

In [9]:
t1 [2] #Accessing 3rd Element

94

In [10]:
t1[0:] # Slicing still works

(502, 'anne', 94, 78)

In [11]:
t2 = (34,43,5,623,2432,244)
t2[0][1]

TypeError: 'int' object is not subscriptable

In [12]:
t2 = (34,623,2532,964)
s = str(t2)
s

'(34, 623, 2532, 964)'

In [13]:
t2 = list(s)
t2

['(',
 '3',
 '4',
 ',',
 ' ',
 '6',
 '2',
 '3',
 ',',
 ' ',
 '2',
 '5',
 '3',
 '2',
 ',',
 ' ',
 '9',
 '6',
 '4',
 ')']

In [14]:
t2 = (34,623,2532,964)
t2

(34, 623, 2532, 964)

In [19]:
print (str(t2[0])[1], str(t2[1])[1],str(t2[3])[1])

4 2 6

In [20]:
# Function to calculate average of all elements

def average(t):
    sum = 0
    for i in range(0,len(t),1):
        sum = sum + t[i]
    return sum/len(t)
average(t2)

1038.25

In [21]:
# Function to search in a linear data structure and return index, otherwise return -1

def SearchList(ds,key):
    for i  in range(0,len(ds),1):
        if(ds[i] == key):
            return i
    return -1
SearchList(t2,10)

-1

In [24]:
SearchList(t2,964)

4

In [26]:
SearchList(t1,83)

-1

In [27]:
t1

(502, 'anne', 94, 78)

In [28]:
SearchList(t1,94)

3

In [30]:
def SearchList(ds,key):
    for item in ds:             # Iterating through sequence type
        if(item == key):
            return True
    return False
SearchList(t2,10)

-1

In [31]:
SearchList(t2,968)

-1

In [34]:
def SearchList(ds,key):
    for item in ds:             # Iterating through sequence type
        if(item == key):
            return True
    return False
SearchList(t2,964)

True

In [35]:
# Function to return index of maximum element in a DS
def maxItem(ds):
    m = ds[0]
    for value in ds:
        if(m < value):
            m = value
    return m

maxItem(t2)

2532

In [36]:
l1 = [-4,4,2,9,1,-34]
maxItem(l1)

9

## Dictionaries

In [37]:
d1 = {'name':'arjun','id':504,'percentage' : 73.4} # creating a dictionary

In [38]:
d1 #Accessing all elements

{'name': 'arjun', 'id': 504, 'percentage': 73.4}

In [39]:
d1['name'] #Accessing an Item using Key.

'arjun'

In [41]:
d1.keys() # return keys of dictionary

dict_keys(['name', 'id', 'percentage'])

In [42]:
d1.items() #Returns all items

dict_items([('name', 'arjun'), ('id', 504), ('percentage', 73.4)])

In [43]:
d1.values() #Returns only values associated with keys

dict_values(['arjun', 504, 73.4])

In [45]:
d1['percentage'] = 89.3

In [46]:
d1

{'name': 'arjun', 'id': 504, 'percentage': 89.3}

In [48]:
d1.pop('name') # deleting an element from a dictionary

'arjun'

In [49]:
d1

{'id': 504, 'percentage': 89.3}

In [66]:
#Contact Application

#Display, Add, Modify and Delete Contact

contacts = dict()

def addContact(d, name, contact):
    d[name] = contact
    return

def displayContacts(contacts):
    for name, contact in contacts.items():
        print(name," : ",contact)
    return

def modifyContact(d, name, newcontact):
    d['name'] = newcontact
    return

def deleteContact(d,name):
    del d['name']
    return

In [56]:
addContact(contacts,'friend1',9928839222)

In [57]:
addContact(contacts,'friend2',9928835642)

In [58]:
displayContacts(contacts)

friend  :  9928839222
friend1  :  9928839222
friend2  :  9928835642

In [61]:
modifyContact(contacts,'friend1',49288292)

In [62]:
displayContacts(contacts)

friend  :  9928839222
name  :  49288292

In [64]:
deleteContact(contacts,'name')

In [67]:
displayContacts(contacts)

In [68]:
displayContacts(contacts)

In [69]:
l1 = [1,2,3,4]
l2 = reversed(l1)

l2

In [70]:
print(l2)

<list_reverseiterator object at 0x000001366E135518>

In [71]:
for i in reversed(l1):
    print(l1[i])

IndexError: list index out of range

In [72]:
l1 = [1,2,3,4]
l2 = list(reversed(l1))

l2

[4, 3, 2, 1]

In [73]:
l1

[1, 2, 3, 4]

In [74]:
l2

[4, 3, 2, 1]

In [75]:
l1 = [5,6,7,8,9]

In [76]:
l3 = [1,2,3,4]

In [77]:
l1

[5, 6, 7, 8, 9]

In [78]:
l2

[4, 3, 2, 1]

In [79]:
l3

[1, 2, 3, 4]

In [80]:
for i, j in zip(l1,l3): #Looping over two iterative objects
    print(i, j)

5 1
6 2
7 3
8 4

In [81]:
colors = ['red','blue','green']

In [82]:
for color in colors:
    print(color)

red
blue
green

In [83]:
for color in sorted(colors):
    print(color)

blue
green
red

### Python Regular Expressions

##### Rules:
[0-9]- represents all the digits in range 0 to 9
eg: [0,1,2,3 ...9]
[a-z]- represents all lower case letters in range a to z
[A-Z]- represents all upper case letters in range a to z

[01] or [0-1] - represents boolean value
[10]- represents boolean value

In [85]:
#Function to vaidate student roll numbers

#Function to validate indian phone number starting wuth 9, 8, 7, 6 

#Function to validate email address

username@domain.extension
username =  String of length 9 contain digits, '-',alphabet
domain = string 0f length 9, can contain digits and alphabet
extension = length of 3 only alphabet

SyntaxError: invalid syntax (<ipython-input-85-419dedb40ea5>, line 8)

In [89]:
#Function to define phone number validator
import re
def PhonenumberValidator(phone):
    phone = str(phone)
    pattern = '^[6-9][0-9]{9}$'
    if re.match(pattern, phone):
        return True
    return False
PhonenumberValidator(9493490201)

True

In [90]:
PhonenumberValidator(2393490201)

False

In [91]:
s1 = "Design a script in Scratch to make a sprite to draw geometrical shapes such as Circle, Triangle, Square, Pentagon."
programWord = re.split('[,][\ ]',s1) # Tokenizing String.

programWord

['Design a script in Scratch to make a sprite to draw geometrical shapes such as Circle',
 'Triangle',
 'Square',
 'Pentagon.']

## Date and Time Arithmetic

In [93]:
import datetime

today = datetime.datetime.now()

In [94]:
today.year

2019

In [95]:
today.day

31

In [96]:
today.month

5

In [99]:
today.hour

17

In [101]:
today.minute

7

In [102]:
today.second

41

In [107]:
print(today)

2019-05-31 17:07:41.917761

In [115]:
# Function to find the difference in two given dates
# Format of the date YYYY:MM:SS


import datetime

def dateDiff(date1,date2):
    year1 = int(date1[:4])
    month1 = int(date1[5:7])
    day1 = int(date1[8:])
    year2 = int(date2[:4])
    month2 = int(date2[5:7])
    day2 = int(date2[8:])
    d1 = datetime.date(year1,month1,day1)
    d2 = datetime.date(year2,month2,day2)
    
    return d2 - d1

In [116]:
print(dateDiff('2019:05:27','2019:06:01'))

5 days, 0:00:00

In [119]:
# Function to check year is Leap year

def isLeap(year):
    if((year % 4 == 0 and year / 100 != 0) or year % 400 == 0):
        print(year, " is Leap Year")
    else:
        print(year, " is not a Leap Year")

isLeap(2016)

2016  is Leap Year

In [120]:
isLeap(2019)

2019  is not a Leap Year

In [121]:
# Generators

def strRev(s):
    l = len(s)
    for i in range(l-1, -1, -1):
        yield s[i]
strRev("Hello")

In [122]:
list(strRev("Hello"))

['o', 'l', 'l', 'e', 'H']

In [123]:
def my_gen():
    n = 1
    print('This is printed first')
    # Generator function contains yield statements
    yield n

    n += 1
    print('This is printed second')
    yield n

    n += 1
    print('This is printed at last')
    yield n

In [124]:
print(my_gen())

<generator object my_gen at 0x000001366E0BD9A8>

In [126]:
a = my_gen()

In [127]:
a

In [128]:
print(a)

<generator object my_gen at 0x000001366E0BDE58>

In [129]:
list(a)

This is printed first
This is printed second
This is printed at last

[1, 2, 3]

## Functional Programming

### List Comprehensions

In [133]:
li = [1,2,3,4,5]

n= 123

range(10) # range generates 0 .. 9

list(range(9)) # creates a list containing 10 items

sum(list(range(10))) # Calculates the sum of 10 natural numbers.

45

In [135]:
# Function to claculate sum of squareroot of n natural numbers

from math import sqrt

def sqrtNumbers(n):
    return sum([sqrt(i) for i in list(range(1,n+1))])

sqrtNumbers(10)

22.4682781862041

In [136]:
# Function to generate squareroot of n natural numbers

from math import sqrt

def sqrtNumbers(n):
    return [sqrt(i) for i in list(range(1,n+1))]

sqrtNumbers(10)

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

In [139]:
# Function to calculate square of elements in a list

def SqList(li):
    return [(i**i) for i in li]

SqList(li)

[1, 4, 27, 256, 3125]

In [138]:
li

[1, 2, 3, 4, 5]

In [140]:
# Function to identify all numbers divisible 9 in a given list use list Comprehensions.

# input l1= list(range(1,100)) output- 9,18,27,...99

li = list(range(1,50))

def isDivisible9Lc(li):
    return [i for i in li if i%9 == 0]

isDivisible9Lc(li)

[9, 18, 27, 36, 45]

#### Maps

In [141]:
# Function to calculate cubes of all numbers in a list

li = [1,2,3,4]

def cubes(n):
    return n**3

# pass this as a paramter to maps

map(cubes, li)

In [142]:
print(map(cubes,li))

<map object at 0x000001366E1626A0>

In [143]:
list(map(cubes,li))

[1, 8, 27, 64]

In [146]:
sum(list(map(cubes,li))) # map implementation

100

In [147]:
sum([cubes(i) for i in li]) # List Comprehension

100

In [150]:
# Function to convert number to words

def numberToWords(n):
    i = 0
    digit = []
    while(n != 0):
        digit.append(n % 10)
        n = n//10
        i += 1
    return digit[-1::-1]

def printDigits(n):
    digits = numberToWords(n)
    d1 = {1:'one',2:'Two',3:'Three',4:'Four',5:'Five',6:'Six',7:'Seven',8:'Eight',9:'Nine',0:'Zero'}
    d1ph = {0:'units',1:'tens',2:'hundreds',3:'thousands'}
    for i in range(0,len(digits)):
        
    
    return digits

print(numberToWords(12))

[2, 1]